html {
    font-size: 16px;
}
body {
    font-size: 16px;
    background: #FDFFFC;
    line-height: 1.5;
    padding-top: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}
.btn-round {
    border-radius: 10rem;
}
.bold {
	font-weight: bold;
}

.badge.notification {
	background-color: #d9534f;
}

.sidebar > ul > li > a {
    padding: 5px 15px;
}

.noMargin {
	margin: 0;
}

.material-icons {
    vertical-align: -15%;
}
.content {
    min-height: calc(100vh - 318px);
}
.hidden {
    display: none;
}
.modal-footer.text-center {
    text-align: center;
}
.category-img {
    height: 2rem;
}
.category-img-select {
    height: 2rem;
}
.business-text {
    margin-top: 5rem;
}
.form-control {
    height: 2.8rem;
    font-size: 1.2rem;
}
.btn,
.dropdown-menu>li>a {
    font-size: 1rem;
}
.profile-icon {
    font-size: 1rem;
    margin-right: 0.5rem;
}
.inline {
    display: inline;
}
.material-icons {
    font-size: inherit;
}
.animated {
    -webkit-transition: all 2s; // Chrome
    -moz-transition: all 2s; // Mozilla
    -o-transition: all 2s; // Opera
    transition: all 2s;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    background: #558eae;
    color: #fff;
    transition: all 0.5s ease;
}
.navbar-inverse {
    background: #4281A4;
    /*background:#232C33;*/
    
    border: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background: #4281A4;
    border: 0;
}
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
    color: #fff;
    transition: all 0.5s ease;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:active,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #bebebe;
}
.navbar-logo {
    background-image: url("../img/logoBare.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.cookies {
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    background: #232C33;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.home-banner-container {
    background: #ECF0F1;
    min-height: calc(100vh - 50px);
    padding: 0;
    background-image: url("../img/header.png");
    background-size: cover;
    color: #fff;
}
.business-banner-container {
    background: #232C33;
    height: calc(100vh - 50px);
    min-height: calc(100vh - 50px);
    padding: 0;
    color: #fff;
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}
.home-banner-container>div {
    height: calc(100vh - 50px);
    min-height: calc(100vh - 50px);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}
.home-banner-container>div>div {
    width: 100%;
}
.btn-cta {
    margin-top: 10rem;
    height: auto;
    width: auto;
    font-size: 1.5rem;
    transition: all 0.5s ease;
    border: none;
    outline: none;
}
.landing-icon {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: #588B8B;
}
#what-is-tts {
    background: #232C33;
    color: #fff;
    background-image: url("../img/app_holder.png");
    background-repeat: no-repeat;
    background-position: right 1rem bottom;
    background-size: 25%;
}
.heading-space {
    margin-bottom: 2rem;
}
footer {
    background: #101010;
    color: #636363;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
footer p,
footer a {
    color: #636363;
    text-decoration: none;
    transition: all 0.5s ease;
}
footer a:focus,
footer a:active,
footer a:hover {
    text-decoration: none;
    color: #fff;
}
footer ul {
    list-style-type: none;
}
footer .footer-social {
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
#how-it-works .panel-landing i {
    font-size: 5rem;
    color: #ED6A5A;
}
#how-it-works .panel-landing {
    border-style: dashed;
    border-radius: 1rem;
}
.heading-icon {
    font-size: 10rem;
}
.panel-business {
    background: #f5f5f5;
    border: none;
    padding-bottom: 1.2rem;
}
.panel-business.panel-header,
.panel-business.panel-body {
    border: none;
    transition: all 0.5s ease;
}
.panel-business:hover div.panel-body > div > h1 {
    color: #61bcef;
    transition: all 0.5s ease;
}
.panel-business:hover div.panel-heading.text-center {
    background: #61bcef;
    transition: all 0.5s ease;
}
.panel-business .panel-body {
    padding: 0;
    transition: all 0.5s ease;
}
.panel-business .panel-heading {
    background: #4281A4;
    color: #fff;
    border-color: #4281A4;
    transition: all 0.5s ease;
    border: none;
}
.panel-business .panel-body .panel-price h1 {
    color: #8e8e8e;
    font-size: 1.5rem;
}
.panel-business .panel-body .panel-price {
    color: #000;
}
footer ul {
    padding-left: 0;
}
.margin-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.margin-top-2 {
    margin-top: 2rem;
}
.margin-bottom-2 {
    margin-bottom: 2rem;
}
.margin-bottom-1 {
    margin-bottom: 1rem;
}
.flex {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.sidebar {
    color: #4281A4;
    padding: 15px;
    font-size: 1rem;
    line-height: 2.5rem;
}
.sidebar li:active,
.sidebar li:hover,
.sidebar li:focus {
    transition: all 0.5s ease;
}
.sidebar ul li a {
    transition: all 0.5s ease;
    color: #4281A4;
}
.sidebar ul li a:active,
.sidebar ul li a:hover,
.sidebar ul li a:focus {
    color: #F28F3B;
    transition: all 0.5s ease;
}
.sidebar .active {
    color: #F28F3B;
}
.table-btn {
    border-radius: 0;
    transition: all 0.5s ease;
}
#currentTables .link-no-decoration {
    text-decoration: none;
    color: #333;
}
/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    body > nav > div > div.navbar-header > button {
        border: none;
    }
    #navbar > ul.nav.navbar-nav.navbar-right > li:nth-child(2) > p > a {
        margin-left: 1.5rem;
    }
    #what-is-tts {
        background-image: none;
        text-align: center;
    }
    footer .footer-info {
        text-align: center;
        margin-bottom: 2rem;
    }
    .sidebar .nav.margin-4.text-capitalize {
        margin-top: 0;
        margin-bottom: 0;
    }
    #navbar > ul.nav.navbar-nav.navbar-right > li > ul > li > a {
        color: #fff;
    }
    .navbar-logo {
        margin-left: 15px;
    }
    .btn-cta {
        margin-top: 5rem;
    }
    .business-text {
        margin-top: 0;
        text-align: center;
    }
}
@media only screen and (max-width: 992) {
    #what-is-tts {
        background-image: none;
        text-align: center;
    }
}